.result {
  .left {
    margin: 0;
    padding: 0;
  }
  .container {
    h2 {
      max-width: 327px;
      margin: auto;
      padding-top: 40px;
      font-family: "Livvic";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
      text-align: center;
      color: #ffffff;
      span {
        color: #79c8c7;
      }
    }
    ul {
      li {
        position: relative;
        margin-bottom: 84px;
        .vergul {
          position: absolute;
          z-index: -1;
          margin-top: -37px;
          right: 0;
          left: 0;
          margin: -33px auto;
        }
        p {
          max-width: 327px;
          margin: auto;
          margin-top: 84px;
          font-family: "Livvic";
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 25px;
          text-align: center;
          color: #ffffff;
        }
        h4 {
          margin-top: 16px;
          font-family: "Livvic";
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 28px;
          text-align: center;
          color: #79c8c7;
        }
        i {
          display: block;
          font-family: "Livvic";
          font-size: 13px;
          line-height: 18px;
          text-align: center;
          color: #ffffff;
          margin-bottom: 16px;
        }
        .user {
          display: flex;
          justify-content: center;
          margin: auto;
          border-radius: 50% !important;
        }
      }
    }
  }
  .right-con {
    display: block;
    display: flex;
    justify-content: end;
    .right {
      right: 0 !important;
      bottom: 0 !important;
    }
  } 
}


@media only screen and(min-width:600px) {
  .result {
    .container {
      h2 {
        width: 470px;
      }
      ul {
        li {
          p {
            width: 573px !important;
          }
        }
      }
    }
  }
}

@media only screen and(min-width: 1000px) {
  .result {
    .container {
      h2 {
        width: 625px !important;
      }
      ul { 
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
          .vergul {
            margin-top: 47px;
          }
          width: 350px;
          p {
            width: 350px !important;
          }
        }
      }
    }
  }
}
